{% extends 'base.html' %}

{% block body %}
<main>
    <h2>{{post.title}}</h2>
    <article>
        <p>{{post.body}}</p>
    </article>
    <aside>
        <div>
            
            <h3 id="comments">Comments</h3> <!--Create a quick navigation to this section-->
            {% if not user.is_authenticated %}
                <p><a href="{% url 'login' %}">Login</a> to view comments</p>
            {% elif not comments %}
                <p>No comments yet, be the first to <button>Comment</button></p>
            {% else %}
                {% for comment in comments %}
                    <blockquote>{{ comment.body }}</blockquote>
                    <!--Research this element (<cite>) and find out if there's any element close to an author in semantics-->
                    <cite>{{ comment.author }}</cite> 
                    {% if comment.replies %}
                        {% for reply in replies %}
                            <p>{{ reply }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <br> <!--Remove this if possible-->
                <button>Comment</button>
            {% endif %}
        
        </div>
    </aside>    
</main>
{% endblock %}